# Configurações e Segredos
.env
configuracao.php
chatbot_backup.sql


# Dependências (O Composer baixa estas pastas)
/vendor/

# Ficheiros de Upload e Media
/uploads/*
!/uploads/.gitkeep

# Logs e Temporários
*.log
.phpunit.result.cache